<%- include('../partials/head'); %>

  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <h3 class="text-center"> Welcome to about Page </h3>
    
    
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>